
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    padding: 4px 24px;
    border-radius: 4px;
    border: none;
}

.hero {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero-container {
    padding: 48px 48px 100px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}


.header {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 58px 16px;
    flex: 1;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.right-links {
    display: flex;
    gap: 30px;
    font-size: 18px;
}


.hero-content {
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 48px
}

.hero-content h1 {
    font-size: 48px;
    font-weight: bolder;
}

.hero .image {
    flex-basis: 400px;
    background-color: grey;
    text-align: center;
    padding: 70px 70px;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 32px 80px;
    flex: 1;
}

.info-section .title {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    padding: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    padding: 24px;
    gap: 64px
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    text-align: center;
}

.card .image {
    /*flex-basis: 100px;*/
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.card .text {
    display: block;
    color:#1F2937;
    padding: 8px 0px 0px 8px;
}

.quote-section {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    padding: 180px 0px;
    justify-content: space-evenly;
    flex: 1;
}

.filler {
    flex: 1;
}

.quote-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    width: 900px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.author {
    font-size: 18px;
    font-weight: bolder;
    align-self: flex-end;
}

.CTA {
    display: flex;
}

.CTA-block {
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    padding: 48px 100px;
    margin: 130px 180px;
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    font-size: 24px;
    font-weight: bold;
}

.CTA .text {
    font-size: 18px;
}

.CTA button {
    border: 2px solid #F9FAF8
}

.footer {
    background-color:#1F2937;
    color:#F9FAF8;
    display: flex;
    justify-content: center;
    padding: 32px;
}
